.checkout{
    display: flex;
    padding: 20px;
    max-height: max-content;
    background-color: white;
}
.chechout_ad{
    width: 100%;
    border-bottom: 10px;
}
.checkout_title{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
}