.home{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.home-row{
    display: flex;
   
    margin-left: 5px;
    margin-right: 5px;
}
.home_image{
    width: 100%;
    mask-image: linear-gradient(180deg, black, transparent);
}